quic/chromium/src/*
!quic/chromium/src/.gitignore
!quic/chromium/src/net/
!quic/chromium/src/net/**
!quic/chromium/src/net/third_party/
!quic/chromium/src/net/third_party/**
quic/chromium/src/net/data/
quic/chromium/src/net/data/**
quic/chromium/src/net/tools/quic/certs/out/
quic/chromium/src/net/tools/quic/certs/out/*

quic/sites/www.example.org/index.html
quic/sites/www.example.org/dist/

depot_tools
*.swp
*.swn
*.swo
*.crt
*.crl
